/* CSS for Service Dashboard */
.card {
    transition: all 0.3s ease;
}
.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.stat {
    margin-right: 10px;
}
.badge-primary-light {
    background-color: rgba(78, 115, 223, 0.1);
    color: #4e73df;
}
.badge-success-light {
    background-color: rgba(28, 200, 138, 0.1);
    color: #1cc88a;
}
.badge-warning-light {
    background-color: rgba(246, 194, 62, 0.1);
    color: #f6c23e;
}
.badge-info-light {
    background-color: rgba(54, 185, 204, 0.1);
    color: #36b9cc;
}
.chart {
    position: relative;
    height: 350px;
    width: 100%;
}
.chart-xs {
    height: 250px;
}
