@model pet_spa_system1.ViewModel.ChangePasswordViewModel

<form id="change-password-form" method="post" hx-post="@Url.Action("ChangePassword", "UserHome")" hx-target="#content-main" hx-swap="innerHTML">
    <div class="card shadow p-4" style="width:50%; margin:auto;">
        <h4 class="mb-3">Đổi Mật Khẩu</h4>

        <div class="mb-3">
            <label for="CurrentPassword" class="form-label fw-bold">Mật khẩu hiện tại</label>
            <input type="password" class="form-control" id="CurrentPassword" name="CurrentPassword"  />
        </div>

        <div class="mb-3">
            <label for="NewPassword" class="form-label fw-bold">Mật khẩu mới</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" required />
        </div>

        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label fw-bold">Xác nhận mật khẩu mới</label>
            <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
        </div>

        <div class="d-flex justify-content-end gap-2">
            <button type="submit" class="btn btn-primary">Cập nhật</button>
            <button type="reset" class="btn btn-secondary">Hủy</button>
        </div>
    </div>
</form>
