 <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#">+880 4664 216</a></li>
                                    <li><a href="#">Mon - Sat 10:00 - 7:00</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="/pet-spa-system/index.html">
                                    <img src="img/Picture4.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a  href="/pet-spa-system/index.html">trang chủ</a></li>
                                        <li><a href="/pet-spa-system/about.html">về chúng tôi</a></li>
                                        <li><a href="#">bài viết <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/pet-spa-system/blog.html">bài viết</a></li>
                                                <li><a href="/pet-spa-system/single-blog.html">bài viết đơn</a></li>
                                            </ul>
                                        </li>
                                       
                                        <li><a href="/pet-spa-system/service.html">dịch vụ</a></li>
                                         <li><a href="/pet-spa-system/products/shop.html">sản phẩm <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/pet-spa-system/products/cart.html">Giỏ hàng</a></li>
                                                <li><a href="/pet-spa-system/products/checkout.html">thanh toán</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/pet-spa-system/contact.html">liên hệ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    